 *{
  /* border: 1px solid red; */
 }
 
 h3{
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Freeman", sans-serif;
  color: #3D3B40;
 
}
 h4{
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Freeman", sans-serif;
  color: #3D3B40;
  margin-bottom: 3px;
}
 label{
  font-size: 1rem;
  font-weight: 600;
  font-family: "Freeman", sans-serif;
  color: #3D3B40;
  margin-bottom: 3px;
}
 label span{
  font-size: 0.8rem;
  font-weight: 400;
  font-family:poppins ;
  color: #3D3B40;
 
}

 input{
  width: 100%;
  border-radius:8px;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Freeman", sans-serif;
  color: #3D3B40;
}
 #lap1 ,#lap2{
  font-size: 0.7rem;
  font-weight: 500;
  color: #3D3B40;

}

/* profil */

#profil h2{
  color: #3D3B40;
  font-family: "Freeman", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}
#profil h1{
  color: #3D3B40;
  font-family: "Freeman", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}
#profil .card-header{
  color: #3D3B40;
  font-family: "Freeman", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

#profil td{
  color: #3D3B40;
  font-family: "Freeman", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}


