* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;

  /* border: 1px solid black; */
}

body{
  background-color: #222831;
}






.navbar-brand{
  font-size: 1.7rem;
  font-weight: 500;
  color: #FFF6E0;
}
.navbar-brand:hover{
  color: #ffc100;
}

.nav-link{
  font-size: 0.9rem;
  font-weight: 500;
  color: #FFF6E0;
}
.nav-link:hover{
  color: #ffc100;
}



.blurr {
  background-color: #31363fc7;
 
  
}








main h2{
  font-size: 3rem;
  font-weight: 600;
  color: #fcc100;
  font-family: "Freeman", sans-serif;
}

main .btn{
  background-color: #ffc100;
  color: #FFF6E0;
 width: 15rem;
  border-radius: 18px;
  font-size: 0.8rem;
  font-weight: 600;
}
main .btn:hover{
  color: #ffc100;
  background-color: #FFF6E0;

}

#tips {
 margin-top: 5rem;
 margin-bottom: 5rem;
  width: full;
}


#lapangan img{
  width: 50%;
  position: absolute;
  left: 17rem;
 
}

#lapangan .card {
  transition: transform 0.5s;
 border-radius: 2rem;
 background-color: #ffc100;
 box-shadow: 0 3px 8px rgba(87, 87, 87, 0.862);
}

#lapangan .card:hover {
  box-shadow: 0 10px 16px rgba(87, 87, 87, 0.862);
  border: none;
  transform: scale(1.02);
}

#lapangan .btn{
  font-size: 0.8rem;
  width: 10 rem;
  font-weight: 600;
  color: #FFF6E0;
  background-color: #CF0A0A;
}

#lapangan .card-header{
  font-size: 1.3rem;
  font-weight: 700;
  color: #3D3B40;
  font-family: "Freeman", sans-serif;
  letter-spacing: 1px;
}
#lapangan .card-title{
  font-size: 0.9rem;
  font-weight: 700;
  
}

#lapangan  p {
  font-size: 0.8rem;
  font-weight: 400;
 
}

#tips .card-header{
  font-size: 1.3rem;
  font-weight: 700;
  color: #3D3B40;
  font-family: "Freeman", sans-serif;
}

#tips button{
  font-weight: 600;
 
}

#tips li{
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
}


/* event */
#event .title{
  
  font-size: 1.9rem;
  font-weight: 700;
  color: #FFF6E0;

}

