* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;

  /* border: 1px solid black; */
}

body {
  min-height: 200vh;
  background-color: #092635;
 
}



.nav-item {
  margin-right: 45px;
}

.nav-link span {
  font-size: 0.7rem;
  font-weight: 600;
}

#main h3 {
  font-size: 3rem;
  font-weight: 900;
}

#alur h5 {
  font-size: 2rem;
}
.card {
  transition: transform 0.5s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(87, 87, 87, 0.862);
  border: none;
  transform: scale(1.02);
}

.card-body p {
  font-size: 0.8rem;
  font-weight: 700;
  color: #ffc100;
}
.card img{
    filter: grayscale(100%);
}
.card img:hover{
    filter: none;
}
